.server_list {
    left: 0;
    width: 250px;
    position: absolute;
    color: #00AA00;
}

.server_data{
    left:350px;
    width:100%;
    position: absolute;
    color: #000;
    top: 180px;
}

.stop_button{
    background-color: red;
    color: white;
}


.connected{
    color: forestgreen;
}

.disconnected{
    color: red;
}

table tbody .RUNNING{
    color:darkgreen;
    font-weight: bolder;
}

table tbody .btn_RUNNING{
    color:white;
    background-color: red;
    font-weight: bolder;
}

table tbody .btn_STOPPED{
    color:white;
    background-color: green;
    font-weight: bolder;
}


table tbody .STOPPED{
    color:red;
    font-weight: bolder;

}

table tbody .FATAL{
    color:darkred;
    font-weight: bolder;
}

.error_msg{
    color: red;
    width: 51%;
    position: absolute;

}





