dashboard-app/app/components/dashboard/*.js*
dashboard-app/app/components/gearman-ui/*.js*
dashboard-app/app/components/private-server/*.js*
dashboard-app/app/components/server-monitor/*.js*
dashboard-app/app/components/supervisor/*.js*
dashboard-app/node_modules