.stop_button{
    background-color: red;
    color: white;
}

table tbody .RUNNING{
    color:darkgreen;
    font-weight: bolder;
}

table tbody .STARTING{
    color:orangered;
    font-weight: bolder;
}

table tbody .btn_RUNNING{
    color:white;
    background-color: rgb(244,67,54);
    font-weight: bolder;
}

table tbody .btn_STOPPED{
    color:white;
    background-color: rgb(76,175,80);
    font-weight: bolder;
}


table tbody .STOPPED{
    color:rgb(244,67,54);
    font-weight: bolder;

}

table tbody .FATAL{
    color:darkred;
    font-weight: bolder;
}





