<div mdl>
    <div class="server_list">
        <div class="mdl-list" *ngFor="#server of supervisorServers">

            <div class="mdl-list__item mdl-list__item--three-line" (click)="serverDetails(server)">

        <span class="mdl-list__item-primary-content">

        <i class="material-icons mdl-list__item-avatar md-48">computer</i>

      <span>{{server.name}}</span>
        <span class="mdl-list__item-text-body">{{server.addr}} <br/>
            <span [ngClass]="{connected : server.up==true, disconnected : server.up==false}">
                {{isConnected(server.up)}}
            </span>
        </span>
    </span>
            </div>
        </div>

    </div>
    <div class="server_data" *ngIf="server != null">

        <span [ngSwitch]='server.up'>
            <span *ngSwitchWhen='false' class="error_msg">{{server.error}}</span>
            <span *ngSwitchWhen='true'>

                <button class="mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="startAll(server)">
                    Start All
                </button>
                <button class="mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="stopAll(server)">
                    Stop All
                </button>
                <button class="mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="restartAll(server)">
                    Restart All
                </button>
        <table  class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">

            <thead align="">
            <tr>
                <th>Job Name</th>
                <th>Group name</th>
                <th>State Name</th>
                <th>Description</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="#process of server.processes">
                <td>{{process.name}}</td>
                <td>{{process.group}}</td>
                <td class='{{process.statename}}'>{{process.statename}}</td>
                <td>{{process.description}}</td>
                <td>
                    <button class="{{getButtonData(process.statename)}}
                                    mdl-js-button
                                    mdl-button--raised
                                    mdl-js-ripple-effect
                                    mdl-button--accent" (click)="alterProcess(server, process)">
                            {{button}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
                </span>
            </span>
    </div>
    <div class="main_error_msg" id="toast_error" *ngIf="server == null">
        If you have already configured Supervisor servers in the <pre>config.yml</pre> file, please wait.
    </div>

</div>

