<div mdl class="server_data" *ngIf="batchServers != null">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="list_private_servers">
        <thead align="">
        <tr>
            <th> IP address</th>
            <th> Supervisor Port</th>
            <th> Host ID</th>
            <th> Video workers</th>
            <th> PDF workers</th>
            <th> Type </th>
            <th> Switch </th>
        </tr>
        </thead>
        <tbody mdl>
        <tr *ngFor="#batchServer of batchServers">
            <td>{{batchServer.ip}}</td>
            <td>{{batchServer.port}}</td>
            <td>
                <div *ngIf="batchServer.id_host != 0">{{batchServer.id_host}}</div>
                <div *ngIf="batchServer.id_host == 0"> NA </div>
            </td>
            <td>{{batchServer.video_convert_workers}}</td>
            <td>{{batchServer.pdf_convert_workers}}</td>
            <td>{{batchServer.type}}</td>
            <td>
                <div (click)="switchServers(batchServer)" class="material-icons">undo</div>
            </td>
        </tr>
        <tr  *ngIf="(editServer == true) && (newBatchServer.server_type == 'private')
        || newServer == true || addByHost == true">

            <td>
                <div *ngIf="newServer == true" class="mdl-textfield mdl-js-textfield half-width">
                    <input class="mdl-textfield__input" type="text" pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" id="ip" [(ngModel)]="newBatchServer.ip">
                    <label class="mdl-textfield__label" for=id_host>IP address*</label>
                    <span class="mdl-textfield__error">Not a valid IP!</span>
                </div>

                <div  *ngFor="#server of addByHostServers.servers">
                    {{server.ip}}
                </div>


                <div *ngIf="addByHost == true" class="mdl-textfield mdl-js-textfield half-width">
                    <input class="mdl-textfield__input" type="text" pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" id="current_ip" [(ngModel)]="current_ip">
                    <label class="mdl-textfield__label" for=id_host>IP address*</label>
                    <span class="mdl-textfield__error">Not a valid IP!</span>
                </div>


                <div *ngIf="newServer == false" style="position: relative; top:30px;">{{newBatchServer.ip}}</div>

                <button (click)="addToServersByHostIdList(newBatchServer.id_host
                                                     , newBatchServer.video_convert_workers
                                                     , newBatchServer.pdf_convert_workers
                                                     , current_ip
                                                     , newBatchServer.port)"

                        class = "mdl-button mdl-js-button mdl-button--primary"
                        *ngIf="addByHost == true">
                    <i class="material-icons">add</i>
                </button>

            </td>
            <td>

                <div  *ngFor="#server of addByHostServers.servers">
                    {{server.port}}
                    <!--<button class="mdl-button mdl-js-button mdl-button--accent"> delete</button>-->
                </div>


                <div class="mdl-textfield mdl-js-textfield half-width">
                    <input class="mdl-textfield__input" type="text" value="9001" pattern="-?[0-9]*(\.[0-9]+)?" id="port" [(ngModel)]="newBatchServer.port">
                    <label class="mdl-textfield__label" for=id_host>9001</label>
                    <span class="mdl-textfield__error">Not a valid port</span>
                </div> <br/>
                <div *ngIf="addByHost == true">
                <button (click)="addServersByhostList(newBatchServer.id_host
                                                     , newBatchServer.video_convert_workers
                                                     , newBatchServer.pdf_convert_workers
                                                     , current_ip
                                                     , newBatchServer.port)"
                        class = "mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect ">
                    submit
                </button>
                    <button (click)="cancelEditServer()"
                            class = "mdl-button mdl-js-button mdl-button--primary mdl-button--accent mdl-button--raised mdl-js-ripple-effect ">
                        Cancel
                    </button>
                </div>
            </td>
            <td>
                <div class="mdl-textfield mdl-js-textfield half-width" *ngIf="newBatchServer.server_type == 'private'">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="id_host" [(ngModel)]="newBatchServer.id_host">
                    <label class="mdl-textfield__label" for=id_host>Host ID*</label>
                    <span class="mdl-textfield__error">Not a valid host id!</span>
                </div>
            </td>
            <td>

                <div class="mdl-textfield mdl-js-textfield half-width"  *ngIf="newBatchServer.server_type == 'private'">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="video_workers" [(ngModel)]="newBatchServer.video_convert_workers">
                    <label class="mdl-textfield__label" for="video_workers">Video Workers*</label>
                    <span class="mdl-textfield__error">Not Valid number of workers!</span>
                </div>
            </td>
            <td>
                <div class="mdl-textfield mdl-js-textfield half-width"  *ngIf="newBatchServer.server_type == 'private'">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="pdf_workers" [(ngModel)]="newBatchServer.pdf_convert_workers">
                    <label class="mdl-textfield__label" for="pdf_workers">PDF Workers*</label>
                    <span class="mdl-textfield__error">Not Valid number of workers!</span>
                </div>
            </td>
            <td>
                <div *ngIf="newServer == true">
                    <div class="mdl-selectfield" style="padding-top: 30px;">
                        <select class="select-servers" [(ngModel)] = "newBatchServer.server_type">
                            <option value="private">private</option>
                            <option value="public">public</option>
                        </select>
                    </div>
                </div>

                <div *ngIf="newServer == false || addByHost == true" style="padding-top: 30px;">
                    {{newBatchServer.server_type}}
                </div>
            </td>
            <td>

            </td>
        </tr>


        </tbody>


    </table>



    <button  id="addBatchServerButton" *ngIf="editServer == false && newServer == false && addByHost == false" class="mdl-button
    mdl-js-button
    mdl-button--fab
    mdl-button--colored">
        <i class="material-icons">add</i>
    </button>
    <ul mdl class="mdl-menu mdl-js-menu" for="addBatchServerButton">
        <li mdl class="mdl-menu__item" (click) = "newEntry()">Add New Batch Server</li>
        <li mdl class="mdl-menu__item" (click) = "addBatchServersById()">Add Multiple Batch Servers by Host ID</li>
    </ul>

    <div *ngIf="(editServer == true  && newBatchServer.server_type == 'private')
    || newServer == true" style="top:20px;position: relative">

        <button (click)="cancelEditServer()"
                class="mdl-button mdl-js-button mdl-button--accent mdl-button--raised mdl-js-ripple-effect ">
            Cancel
        </button>
        <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised mdl-js-ripple-effect "
                (click)="switchBatchServer(newBatchServer)">
            Submit
        </button>
    </div>

</div>



<div class="main_error_msg" *ngIf="batchServers == null">
    Loading Batch Server information. Please wait...
</div>

<div id="toast_error" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text mdl-snackbar__action"></div>
</div>
