<div style="margin: auto; display:inline-block;">
    <div *ngFor="#job of jobQueue">
        <ul class="mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons md-48">computer</i>
                <span>{{job.name}}</span>
                <span class="mdl-list__item-text-body">
                    Address: {{job.addr}}<br/>
                    status:
                    <span *ngIf="job.up==true">
                        <span class="job-queue-status-ok">Connected</span>
                    </span>
                    <span *ngIf="job.up==false">
                        <span class="job-queue-status-fail">Failed to connect</span>
                    </span>
                </span>
                </span>
            </li>
        </ul>


    <span [ngSwitch]="job.up">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" *ngSwitchWhen='true'>
        <thead>
        <tr>
            <th> Job Name</th>
            <th> Queued Jobs</th>
            <th> Running Jobs</th>
            <th> Available Workers</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#status of job.status">
            <td>
                {{status.function_name}}
            </td>
            <td>
                {{status.in_queue}}
            </td>
            <td>
                {{status.jobs_running}}
            </td>
            <td>
                {{status.capable_workers}}
            </td>
        </tr>
        </tbody>

    </table>
        </span>
    </div>
</div>