<div mdl class="server_data" *ngIf="batchServers != null">
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="list_private_servers">
    <thead align="">
    <tr>
        <th> IP address</th>
        <th> Host ID</th>
        <th> Number of Video workers</th>
        <th> Number of PDF workers</th>
        <th> Type </th>
        <th> Switch </th>
    </tr>
    </thead>
    <tbody mdl>
        <tr *ngFor="#batchServer of batchServers">
            <td>{{batchServer.ip}}</td>
            <td>{{batchServer.id_host}}</td>
            <td>{{batchServer.video_convert_workers}}</td>
            <td>{{batchServer.pdf_convert_workers}}</td>
            <td>{{batchServer.type}}</td>
            <td>
                <div (click)="switchServers(batchServer)" class="material-icons">undo</div>
            </td>
        </tr>
        <tr *ngIf="newServer == true">
            <td>

            </td>
            <td>
                <div class="mdl-textfield mdl-js-textfield half-width">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="host_id" [(ngModel)]="newServer.id_host">
                    <label class="mdl-textfield__label" for=host_id>Host ID</label>
                    <span class="mdl-textfield__error">Not a valid host id!</span>
                </div>
            </td>
            <td>
                <div class="mdl-textfield mdl-js-textfield half-width">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="video_workers" [(ngModel)]="newServer.video_workers">
                    <label class="mdl-textfield__label" for="video_workers">Video Workers</label>
                    <span class="mdl-textfield__error">Not Valid number of workers!</span>
                </div>
            </td>
            <td>
                <div class="mdl-textfield mdl-js-textfield half-width">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="pdf_workers" [(ngModel)]="newServer.pdf_workers">
                <label class="mdl-textfield__label" for="pdf_workers">PDF Workers</label>
                <span class="mdl-textfield__error">Not Valid number of workers!</span>
                </div>
            </td>
            <td>
                {{newServerType}}
            </td>
            <td></td>
        </tr>

    </tbody>


</table>



</div>

<div class="main_error_msg" id="toast_error" *ngIf="batchServers == null">
    Loading Batch Server information. Please wait...
</div>





