.add-server-btn{
    float:right;
    margin-top:5px;
    margin-right:25px;
}

.half-width{
    width:11vw;
}

select {
    font-family: inherit;
    background-color: transparent;
    width: 4.4vw;
    padding: 4px 0;
    font-size: 1.3vw;
    color: rgb(0,0,0);
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
select:focus {
    outline: none;
}

/* Hide label */
.mdl-selectfield label {
    display: none;
    font-size: 0.9vw;
}

/* Use custom arrow */
.mdl-selectfield select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mdl-selectfield {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    position: relative;
}
.mdl-selectfield:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid rgba(0,0,0, 0.12);
    pointer-events: none;
}

.select-servers{
    font-size: 0.9vw;
}

/* ==========  Demo CSS ========== */


